:root {
  --primary-color: #f2e9e4;
  --secondary-color: #ffddd2;
  --third-color: #385170;
  --text-color: #142d4c;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  color: var(--text-color);
}
h1 {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 64px;
}
h2 {
  font-size: 26px;
}
p {
  font-size: 18px;
}

.nav-link {
  color: var(--text-color) !important;
}
.hero {
  font-family: "Work Sans", sans-serif;
  background-color: var(--secondary-color);
  text-align: center;
}
.aboutpage {
  padding: 50px !important;
  margin: 50px;
  box-shadow: var(--box-shadow);
  background: var(--secondary-color);
}
.btn {
  background-color: var(--third-color);
  color: var(--secondary-color);
  box-shadow: var(--box-shadow);
}
.btn:hover {
  background-color: var(--secondary-color);
  color: var(--third-color);
  cursor: pointer;
}
.alignLeft {
  text-align: left;
}
.alignRight {
  text-align: right;
}
.contact-form {
  border: solid 1px var(--third-color);
  border-radius: 5px;
  padding: 20px;
}
.contactBox {
  padding: 20px;
  margin: 20px;
  box-shadow: var(--box-shadow);
  background: var(--secondary-color);
}

.email-link,
p a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 22px;
  transition: all 100ms ease-in-out;
}
.email-link:hover,
p a:hover {
  color: var(--third-color);
}
.social-links a {
  margin: 0 20px;
  color: var(--third-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 24px;
  transition: all 100ms ease-in-out;
}
@media (max-width: 576px) {
  .row {
    padding: 5px;
  }
  button {
    display: block !important;
    margin: 0 auto !important;
  }

  h1,
  p {
    text-align: center !important;
  }

  h1 {
    font-size: 50px;
  }
}
